/* Homepage CSS */
.homepageProjectUXContainer{
    display: flex;
    gap: 30px;

    margin-bottom: 50px;
    justify-content: center;

    
}


#projectsHeader{
    margin-top: 85px;
    margin-bottom: 35px;
    margin-left:50px;
}
.homepageProject{
    flex-basis:100px;
}
.overArchingProjectContainer h2{
    margin-left:10%;
}

.homepageProjectfullstackContainer{
    display: flex;
    gap:30px;
    justify-content: center;
}
.homepageProject .PO{
    display: flex;
    gap:30px;
    justify-content: center;
}

.portfolioImages img{
    border: 2px solid grey;
    max-height:350px;
    margin-bottom: 40px;
    margin-top:20px;
}
.portfolioImage{
    margin-bottom:20px;
}
.plheading{
    margin-top: 40px;

}
.plheading .moreProjects{
    position: sticky;
}
.plheading .portfolio{
    margin:200px;
}
.plcontent{
    margin-left: 5%;
    margin-bottom:100px;
}


.headerContainer {
    display: flex;
    gap: 10px;
  }

  #name{
    margin-right:10px;
  }

.title{
    margin-left: 10%;
}
  
.intro{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 30px;
margin-top:40px;
margin-left:120px;
margin-right:0px;
}
.introImage{
    grid-area: 1/ 1/1/1;
    align-items:end;
   
}
.textToIntro{
    margin-top: 30px;
    margin-bottom:40px;
    grid-area: 1/1/2/5;
    align-items:start;
}
.projectPointer{
    grid-area: 2/2/3/5
}
.evanPhoto{
    float:left;
    border-radius:50%;
    position:static;
    top: 100px;
}


.introPhoto{
    position:Static;
    top:50px;
    bottom:50px;
}

.slideImages{
    display:grid;
    gap:20px;
    justify-content: center;
    grid: 500px;

}
.slide{
    width: 100vh;
    margin-left: 0px;
}
.allProjects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
    column-gap: 0px;
    row-gap: 60px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;

    
} 
.allProjects img{
    max-width: 700px;
}

.portfolioImages{
    border:30px;
    border-color:Black;
    height:500px;
    
}

.linkedIn{
    height: 40px;
    margin-bottom: 80px;

}
.resume{
    height:1200px;
    margin-bottom:60px;
    margin-left:10%
}
.resumeTitle{
    margin-left:5%;
    margin-bottom:15px;
}
.linkedin{
    margin-left:10%;
    display: flex;

}
.linkedin img{
    margin-left: 15px;
}
.dpvid{
    height: 600px;
    margin-left: 40%;
    margin-bottom: 200px
}

@media(max-width: 900px){
    .allProjects{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:1fr 1fr;
        column-gap: 20px;
        row-gap: 60px;
        margin-left: 50px;
        margin-right: 550px;
        margin-top: 75px;
    
        
    } 


    .allProjects img{
        max-width: 650px;
    }
    .plcontent{
        margin-left: 5%;
        margin-bottom:400px;
    }
    .resume{
        height:700px;
        margin-left:5%
    }
    .linkedin{
        margin-left:25%;
     
    
    }
}
.featureProjectsTitle{
    margin-top: 50px;
    margin-left: 50px;
}  


.projectPageProject .one{
    grid-area: 1 / 1 /2 /2;
    }

.projectPageProject .two{
    grid-area: 2 / 1 /3 /2;
        }
 .projectPageProject .three{
    grid-area: 1 / 2 /2 /3;
        } 
        
 .projectPageProject .four{
    grid-area: 2 / 2 /3 /3;
            }
 
.projectPageProject .one{
    grid-area: 1 / 1 /2 /2;
        }           

.optionsOnBottom{
    display:flex;
    justify-content: center;
    gap: 40px;
}

.slideAboutMe{
    margin-left:25%;
}

.textToIndent{
    margin-left:30px;
}
/* Projects CSS */
@media(max-width: 600px){

    .textToIntro{
        margin-top: 30px;
        margin-bottom:40px;
        grid-area: 1/1/2/4;
        align-items:start;
    }
    .projectPointer{
        grid-area: 2/1/3/5
    }


    .projectContainer {
    display:flex;
    flex: 1;

          
        }  
        .linkedin{
            margin-left:20%;
         
        
        }
.slide{
    max-width: 400px;
    
         }
.allProjects{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: fit-content;
    flex-shrink: 1;
    
}

/* .slideAboutMe{
    max-height:250px;
} */

.projectPageProject img{
      max-width: 400px;
}

    /* row-gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows:1fr;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 50px;
    justify-content: center;
    width: 50vh;

}  
.projectPageProject .one{
    grid-area: 1 / 1 /2 /2;
    }

.projectPageProject .two{
    grid-area: 1 / 2 /2 /3;
        }
 .projectPageProject .three{
    grid-area: 1 / 3 /2 /4;
        } 
        
 .projectPageProject .four{
    grid-area: 1 / 4 /2 /5;
            } */

.featureProjectsTitle{
    margin-top: 10px;
    margin-left: 10px;
}  


.projectImages img{
    margin-top: 75px;
    
       
}
.slideAboutMe{
    margin-left:5%;
    height:400px;
}
.resume{
    height:500px;
}

/* .projectContainer .project{
    
           

        } */
}
.projectContainer{
    display:flex;
    gap:40px;
    margin-top: 30px;
    margin-left: 15%;
       
}
.projectContainer .project{
    width:600px;
    
    
}
.projectContainer img{
    width: 30px;
}
.projectImages img{
    margin-left: 25%;
    margin-top: 75px;
    
}
.projectImages .one{
    margin-top:30px;
}
.projectImages .nine{
    margin-bottom: 50px;
}


.footer{
    margin-top:100px;
}